@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    background-color: #8d99ae ;
}
header {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    height: 100px;
    background-color: #2b2d42;
    
}
.Logo{  
    height: 90%;
}
.list {
    display: flex;
    gap: 50px;
    list-style: none;
    font-family: "koulen";
    font-size: 120%;
    
}
.link {
    color: #edf2f4;
    text-decoration: none;
}
.link:hover {
color: #d90429;

}